@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/*- общие стили */

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #1c1c1c;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  font-size: 16px;

  border-radius: 5px;

  width: 165px;
  height: 49px;
  text-transform: uppercase;

  background: #f6762c;

  transition: opacity 0.3s ease;
}

.btn:hover {
  opacity: 0.8;
}

/* Шапка */
.header {
  padding: 25px 0;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  display: flex;
  gap: 28px;
}

.header__nav a {
  font-size: 14px;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.header__nav a:hover {
  opacity: 0.9;
}

.header__nav a.active {
  opacity: 1;
}
