@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* !-общие стили */

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #1c1c1c;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
  margin: 0;
}

p {
  margin: 0;
}

p + p {
  margin-top: 15px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  font-size: 16px;

  border-radius: 5px;

  width: 165px;
  height: 49px;
  text-transform: uppercase;

  background: #f6762c;

  transition: opacity 0.3s ease;
}

.btn:hover {
  opacity: 0.8;
}

/* Шапка */
.header {
  padding: 25px 0;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list {
  display: flex;
  gap: 28px;
}

.header__nav a {
  font-size: 14px;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.header__nav a:hover {
  opacity: 0.9;
}

.header__nav a.active {
  opacity: 1;
}

/* main */

/* welcome */

.welcome {
  box-sizing: border-box;
  min-height: 100vh;

  margin-top: -100px;
  padding: 240px 0;

  background-image: url("/images/welcome-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.welcome__text {
  width: 550px;
}

.welcome__subtitle {
  font-size: 14px;
  letter-spacing: 0.1em;
  margin-bottom: 7px;
}

.welcome__title {
  font-size: 57px;
}

.welcome__desc {
  font-size: 18px;
  opacity: 0.7;
  margin: 40px 0;
}

.text-container {
  padding-top: 200px;
}
/* список еды */

.food-list {
  padding: 100px 0;
}

.food-list .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px 10px;
}

.food-list__card {
  overflow: hidden;
  text-align: center;

  width: 260px;
  background: #312f30;
  border-radius: 10px;
}

.food-list__img {
  width: 100%;
  height: 175px;
  object-fit: cover;
}

.food-list_title {
  margin-bottom: 15px;
  font-size: 20px;
}

.food-list__desc {
  opacity: 0.7;
}

.food-list__text-wrapper {
  padding: 30px 20px;
}

/* бургер */

.order {
  background: #312f30;
  padding: 60px 0;
}

.order .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 90px;
}
/* 
.order__img {
  
} */

.order__text {
  max-width: 370px;
}

.burger__title {
  font-size: 44px;
}

.order__desc {
  opacity: 0.7;
  padding: 20px 0;
}

.order__price {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.1em;
  color: #f6762c;
  margin-right: 5px;
}

.order__old-price {
  font-weight: 500;
  font-size: 16px;
  opacity: 0.5;
  letter-spacing: 0.1em;
  text-decoration: line-through;
  color: #f6762c;
}

.btn {
  margin-top: 20px;
}

.product {
  padding: 150px 0;
}

.product .container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.product__card {
  width: 555px;
  min-height: 300px;
  padding: 60px 30px 60px 290px;
  background-color: #fff;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.product__card:nth-child(even) {
  padding-left: 30px;
  padding-right: 290px;
}

.product__title {
  font-size: 30px;
  margin-bottom: 20px;
}

.product__desc {
  opacity: 0.7;
  margin-bottom: 10px;
}

.product__price {
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #f6762c;
}

.product__old-price {
  opacity: 0.5;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-decoration: line-through;
  color: #f6762c;
  margin-left: 10px;
}

.product .btn--small {
  width: 141px;
  height: 39px;
  font-size: 12px;
  margin-top: 10px;
}

.card-queen {
  background-image: url(/images/product-1.jpg);
}
.card-king {
  background-image: url(/images/product-3.jpg);
}
.card-hut {
  background-image: url(/images/product-4.jpg);
}
.card-papa {
  background-image: url(/images/product-2.jpg);
}

